.section-home {
  background-color: #121212;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 50px;
}

@media screen and (max-width: 580px) {
  .section-home {
    display: block;
    flex-flow: column nowrap;
    height: auto;
    padding: 15px;
  }
}
