@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

.section-resume {
  color: white;
  display: block;
  width: auto;
}

.timeline {
  margin-bottom: 30px;
}

.div-title-img-timeline {
  align-items: center;
  display: flex;
  gap: 15px;
  height: 49px;
  justify-content: flex-start;
  width: 100%;
}

.div-img-icon-education, .div-img-icon-experience {
  align-items: center;
  background-color: #1e1e1f;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 1px #131314;
  display: flex;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.div-img-icon-education img {
  width: 22px;
}

.div-img-icon-experience img {
  width: 25px;
}

.h3-title-timeline {
  font-family: 'Poppins' , sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.ul-list-timeline {
  margin-top: 0.001px;
  padding: 0.001px 30px 0.001px 13px;
  z-index: 2;
}

.li-timeline-bottom-line-icon {
  list-style: none;
  width: 100%;
}

.li-timeline-bottom-line-icon div {
  background-color: #3a3a3a;
  height: 30px;
  margin-left: 11px;
  width: 1px;
}

.li-timeline-item {
  border-left: 1px solid #3a3a3a;
  display: flex;
  list-style: none;
  margin-left: 11px;
  padding-bottom: 30px;
}

.li-timeline-item:nth-last-child( 1 ) {
  border: none;
}

.div-timeline-item-content {
  margin-left: 30px;
}

.div-timeline-item-content p {
  color: white;
  font-family: 'Poppins' , sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 0.001px;
  margin-top: 10px;
  text-align: justify;
}

.div-timeline-item-content p:nth-child( 3 ) {
  margin-top: 5px;
}

.item-timeline-period {
  color: #ceb15a;
  font-family: 'Poppins' , sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.div-timeline-item-content h4 {
  display: block;
  font-family: 'Poppins' , sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 0.001px;
  margin-top: -4px;
  padding: 0.001px;
}

.div-timeline-item-marker {
  align-items: center;
  background-color: #3a3a3a;
  border-radius: 100%;
  display: flex;
  height: 16px;
  justify-content: center;
  margin-left: -9px;
  width: 16px;
}

.div-timeline-item-marker div {
  background-color: #ffdb70;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}

.li-timeline-item:nth-last-child( 1 ) .div-timeline-item-marker {
  margin-left: -8px;
}

.link-ifes {
  color: #1b9705;
  font-weight: 400;
  text-decoration: underline;
}

.link-ifes:hover {
  color: #1b970585;
}

.link-coursera {
  color: #005fe4;
  font-weight: 400;
  text-decoration: underline;
}

.link-coursera:hover {
  color: #005fe48a;
}

.section-skills {
  margin-bottom: 30px;
  padding-right: 30px;
}

.section-skills h3 {
  font-family: 'Poppins' , sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0.001px 0.001px 20px;
}

.section-skills-content {
  align-items: center;
  background-color: #202022;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
}

/* @media screen and (max-width: 1249px) {

} */

@media screen and ( max-width : 1023px ) {

  .div-img-icon-education, .div-img-icon-experience {
    border-radius: 10px;
    height: 46px;
    width: 46px;
  }

  .div-img-icon-education img {
    width: 20px;
  }

  .div-img-icon-experience img {
    width: 25px;
  }

  .div-title-img-timeline {
    margin-top: 10px;
  }

  .div-timeline-item-content {
    margin-left: 33px;
  }
}

/* @media screen and (max-width: 767px) {

} */

@media screen and ( max-width : 579px ) {

  .section-resume {
    overflow: hidden;
  }

  .h3-title-timeline {
    font-size: 18px;
  }

  .section-skills h3 {
    font-size: 18px;
  }

  .div-img-icon-education, .div-img-icon-experience {
    border-radius: 7px;
    height: 30px;
    width: 30px;
  }

  .div-img-icon-education img {
    width: 16px;
  }

  .div-img-icon-experience img {
    width: 20px;
  }

  .ul-list-timeline {
    margin-top: -7px;
    padding-left: 5px;
  }

  .div-timeline-item-content {
    margin-left: 25px;
  }

  .div-timeline-item-content p {
    font-size: 14px;
  }

  .item-timeline-period {
    font-size: 14px;
  }

  .div-timeline-item-content h4 {
    font-size: 14px;
  }
}
