@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

.div-about-description {
  color: white;
  font-family: 'Poppins' , sans-serif;
  font-weight: 200;
  text-align: justify;
}

.link-trybe {
  color: rgb(112, 224, 0);
  font-weight: 400;
  text-decoration: none;
}

.link-trybe:hover {
  color: rgb(153, 219, 87);
  text-decoration: underline;
}
