@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

.div-about-description {
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: white;
  /* background-color: red; */
}

.link-trybe {
  text-decoration: none;
  color: rgb(112, 224, 0);
  font-weight: 400;
}

.link-trybe:hover {
  color: rgb(153, 219, 87);
  text-decoration: underline;
}
