@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

.section-about {
  display: block;
  height: auto;
  width: auto;
}

.div-about-description {
  color: white;
  font-family: 'Poppins' , sans-serif;
  font-size: 15px;
  font-weight: 200;
  text-align: justify;
}

.link-trybe {
  color: #70e000;
  font-weight: 400;
  text-decoration: underline;
}

.link-trybe:hover {
  color: #70e0008f;
}

.link-prodados {
  color: #ff9400;
  font-weight: 400;
  text-decoration: underline;
}

.link-prodados:hover {
  color: #bd6f01;
}

.link-med-corporate {
  color: #2f7a6a;
  font-weight: 400;
  text-decoration: underline;
}

.link-med-corporate:hover {
  color: #1e5045;
}

.link {
  color: blue;
  font-weight: 400;
  text-decoration: underline;
}

.link:hover {
  color: rgb(113, 113, 255);
}
