@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

.article-main-card {
  background-color: #1e1e1f;
  border: 1px solid #3a3a3a;
  border-radius: 20px;
  box-shadow: 0.001px 3px 5px 2px black;
  display: block;
  padding: 30px;
  width: auto;
  z-index: 1;
  max-width: 838px;
}

@keyframes fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.quick-animation {
  animation: fade 0.5s ease backwards;
}

.content-render-section {
  height: calc(100% - 55px);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content-render-section::-webkit-scrollbar {
  width: 10px;
}

.content-render-section::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 20px;
}

.content-render-section::-webkit-scrollbar-thumb {
  background-color: #282829;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
}

.section-nav-options-title {
  display: flex;
  justify-content: space-between;
}

.h2-title {
  color: white;
  display: inline-block;
  font-family: 'Poppins' , sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0.001px;
}

.bottom-hr-title {
  background-color: #ffdb70;
  border: none;
  border-radius: 10px;
  height: 5px;
  margin: 16px 1px;
  width: 40px;
}

.navbar-options {
  align-items: center;
  background-color: #282829;
  border-bottom: 1px solid #3a3a3a;
  border-left: 1px solid #3a3a3a;
  border-radius: 0.001px 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: auto;
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 0.001px 50px;
  margin-top: -30px;
  margin-right: -30px;
  width: 50%;
  justify-content: space-evenly;
  gap: 65px;
}

.navbar-options button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Poppins' , sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 7px;
  width: 100%;
}

.navbar-options div:nth-child( 1 ) button {
  color: #ffdb70;
}

@media screen and (max-width: 1249px) {
  .navbar-options {
    border-top: 1px solid #3a3a3a;
    border-right: 1px solid #3a3a3a;
    border-bottom: none;
    border-radius: 0.001px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 0.001px;
    position: fixed;
    top: auto;
    bottom: 0.001px;
    right: 0.001px;
    left: 0.001px;
    width: 100%;
  }
}

/* @media screen and (max-width: 1023px) {

} */

/* @media screen and (max-width: 767px) {
  
} */

@media screen and (max-width: 579px) {
  .article-main-card {
    padding: 16px;
  }

  .h2-title {
    font-size: 24px;
  }

  .content-render-section {
    overflow: hidden;
  }
}

/* @media screen and (max-width: 412px) {

} */
