name: Deploy React Application

on:
  pull_request:
    branches:
      - main

jobs:
  linters:
    name: Run linters ESLint and Stylelint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      
      - name: Install dependencies
        run: npm install
      
      - name: Run ESLint
        run: npm run lint

      - name: Run Stylelint
        run: npm run lint:styles

  build:
    name: Build Application
    runs-on: ubuntu-latest
    needs: linters

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      
      - name: Install dependencies
        run: npm i
      
      - name: Build project
        run: npm run build
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: ./build

  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: production-files
          path: ./build

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./build